/**
 *
 * Main Style for Tatzoo 
 * 
 * @author Damien Hodgkin
 * @email dracul01@gmail.com
 * @copyright 2011
 */

body {}

/* Background Colors */
.black {background-color: #000000;}
.white {background-color: #ffffff;}
.ltgry {background-color: #dddddd;}
.dkgry {background-color: #2b2b2b;}
.eggsh {background-color: #e2e6fe;}

/* Header */
header {color: #e2e6fe; padding: 20px 0;}
header img {padding: 0.1em;}
header h1 {color: #90a1ba; font-weight: bold; font-size: 5em;}
header h3 {color: #90a1ba; font-weight: bold;}
/* Header Navigation */
header nav {padding: 0 0.7em; white-space: nowrap;}
header nav ul {margin: 0; padding: 0;}
header nav ul li {list-style-type: none; display: inline-block; padding: 0.2em 0;}
header nav ul li a {padding: 0 5px; font-weight: bold;}
header nav ul li a:visited {color: #09c;}
header nav ul li a:hover {text-decoration: underline;}

/* Section */
section {margin-top: 0px; font-size: 120%; padding: 0px; /*background: #e2e6fe;*/}
section h1 {font-size: 200%;}
section ul {list-style-type: none; margin: 0; padding-left: 0;}
section ul li {padding: 10px;}
section article {padding: 10px;}

/* Post form */
#post_form {background-color: #fff; margin: 0 auto 0 auto; padding: 10px;}
#post_form .post_field {height: 100px; padding: 5px; width: 918px;}
#post_form .actions {}

/* Feed */
#feed {background-color: #fff;}

/* Profile */
#profile {}
#profile header, footer {padding: 10px 10px 25px 10px;}
#profile h3 {display: inline-block;}
#profile header img {vertical-align: top;}
#profile .mybio {background-color: #fff; padding: 10px; margin: 10px 0 10px 0;}

/* Posts /
#post_meta {border-bottom:1px #333 solid; padding: 0 0 8px 0;}
#post_meta p {margin: 0 0 5px 0;}
#post_meta .posted_at {color: #999; font-size: small; font-style: italic;}
#post_meta .gravatar {border: 1px solid #333; float: left; margin: 0 5px 0 0; padding: 2px;}

#feedme {background-color: #fff;}
#feedme .gravatar {float: left; margin-right: 10px;}

/* Footer Navigation */
footer {}
footer nav {margin: 0 auto; padding: 10px; text-align: right;}
footer nav ul {margin: 0; padding: 0;}
footer nav ul li {list-style-type: none; display: inline-block; padding: 0.2em 0;}
footer nav ul li a {padding: 0 5px; font-weight: bold;}
footer nav ul li a:visited {color: #09c;}
footer nav ul li a:hover {text-decoration: underline;}

/* Sign up button /
.signup_button {
  margin-left: auto; margin-right: auto; display: block; text-align: center;
  width: 190px; color: #fff; background: #bbb; font-size: 150%; font-weight: bold;
  padding: 20px;
}

/* Sign in form /
#sign_in {background-color: #988; margin: 0 auto; padding: 10px; width: 400px;}

/* Link Styling /
a {color: #09c; text-decoration: none;}
a:hover {color: #069; text-decoration: underline;}
a:visited {color: #069;}

/* Round corners */
.round {-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;}

/* Special Classes */
.debug {background: #000; color: #fff; margin: 0 auto; width: 85%;}
