<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html <?php language_attributes(); ?> xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html"; charset="" />
<link rel="shortcut icon" href=""  />
<link rel="pingback" href="" />
<title><!-- Title --></title>
<link rel="alternate" type="application/rss+xml" title="" href="" />
<!--[if IE]><link rel="stylesheet" type="text/css" href="/css/reset.ie.css"><![endif]-->
<style type="text/css"> @import url(); </style>
<link href="/css/widgets/boxwidgets_.css" rel="stylesheet" media="screen" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="/js/isotope.js"></script>
<script type="text/javascript" src="/js/slider.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/carousel.js"></script>
<script type="text/javascript" src="/js/accordion.js"></script>
<script type="text/javascript" src="/js/colorbox.js"></script>
<script type="text/javascript" src="/js/shortcodes.js"></script>
<script type="text/javascript" src="/js/jqtransform.js"></script>

<script language="javascript">
  $(function(){
    var $frm = jQuery.noConflict();
    $frm('form').jqTransform({imgPath:'img/jqtransform'});
  });
</script>

<style type="text/css">h1, h2, h3, h4, h5, h6{font-family:"", Arial, Helvetica, serif;}</style>
</head>

<body class="">
<div id="header">
  <div class="header_content">
      <div class="header_bkg"></div>
      <div class="logo_area"><a href=""><img src="/img/logo/logo.png" /></a></div>
        <div class="search_area">
          <!-- search area -->
        </div>
        <div class="container_menu">
          <!-- main nav menu -->
        </div>
<!--Slider area-->
    </div>
</div><!--header end-->
<div id="wrapper">
    <div class="wrapper_top"></div>
    <div id="content">
        <!-- Sidebar 1 -->
        <div class="content_blog">
                <h1 class="pagetitle">Our Category</h1>
                <h1 class="pagetitle">Posts Tagged </h1>
                <h1 class="pagetitle">Archive for </h1>
                <h1 class="pagetitle">Archive for </h1>
                <h1 class="pagetitle">Archive for </h1>
                <h1 class="pagetitle">Author Archive</h1>
                <h1 class="pagetitle">Blog Archives</h1>
                <div id="post-id">
                    <h2 class="blog_title"><a href="" title="">title</a></h2>
                    <div class="blog_author">author</div>
                    <span class="comments_link">comment links</span>
                    <div class="blog_date"><small>date</small></div>
                    <div class="clear"></div>
                    <!-- Post content -->
                </div>
                <div class="blog_separator"></div>
            <div class="blog_nav">
                <!-- Blog navigation -->
            </div>
        </div>
        <!-- Sidebar 2 -->
    </div>
    <div class="wrapper_bottom"></div>
</div>
<div id="footer">
    <div class="footer_shadow"></div>
    <div class="footer_content">
        <div class="info">
            <!-- Themeshock info -->
        </div>
        <div class="footer_sidebar">
            <!-- Sidebar footer -->
        </div>
        
        <!-- Attribution link: Required at least you purchase the commercial license described here: http://www.wordpressthemeshock.com/the-shock-bundle/  --> 
            <div style="text-align:right"><small><a href="http://www.wordpressthemeshock.com">Wordpress Theme by ThemeShock</a></small></div>
        <!-- end attribution link  -->
    
    </div>
</div>
</body>
</html>
